################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SacramentFinder/.vs/SacramentFinder/FileContentIndex/81aff091-e536-4a15-9f55-125541980248.vsidx
